/* Setup for the whole page; font and box sizing */
* { 
  /* box-sizing: border-box; */
  font-family: sans-serif;
}

/* Don't show the heading 1 */
h1 {
  display: none;
}

/* Parameters for the body of the page */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: fit-content;
  block-size: fit-content;
  height: 100vh;
  margin: auto;
  align-items:center;

  color: #151515;
  background-color: #000000;
}

/* Input space for the BPM */
#tempo-input {
  position: relative;
  left: 160px;
  top: 80px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px;
  border: 1px solid;
  border-color: transparent;
  padding: 8px 16px;
  border: none;
  width: fit-content;
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

/* Control panel for each different track */
nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 70px 100px;
  width: 200px;
  padding-top: 20px;
  margin-left: 35px;
  top: 200px;
}

/* Sample selection */
select {
  width: fit-content;
  position: relative;
  border-color: transparent;
  font-size: 8px;
  border-radius: 25px;
  color: #8a8a8a;
  left: 2px;
  width: 100px;
  margin: 5px;;
  margin-right: 1px;
}

/* Buttons */ 
button {
  padding: 8px 16px;
  border: none;
  background-color: #919191;
  border-radius: 4px;
}
  button:hover { /* Button on hover */ 
    background-color: #a84f4f;
  }
  button:active { /* Button when active */ 
    background-color: rgb(66, 66, 66);
    box-shadow: 0 0 rgb(0, 0, 0);
  }

/* Generate music button */ 
#gen_music_btn {
  position: relative;
  background-color: #eb3434;
  left: 45px;
  top: 30px;
  width: 300px;
  margin-top: 20px;
  padding: 20px 50px;
}

/* Close buttons */
.close {
  position: relative;
  left: 36%;
  top: 10px;
}

/* Close button for the "How whas this music generated" popup */
#close-how-btn {
  left: 45%;
}

/* "How whas this music generated" button to open the popup */
#how-gen-btn {
  position: relative;
  left: 150px;
  top: 250px;
  width: 100px;
  height: 55px;
  font-size: 10px;
  background-color: #ff5d5d;
}

/* "How whas this music generated" popup */
#how-popup {
  position: absolute;
  width: 600px;
  height: 400px;
}

/* Hidden buttons: Used to hide / unhide buttons based on JS events */ 
.hidden-button {
  display: none;
}

/* Generate buttons */
.gen-btn {
  width: 150px;
  font-size: 12px;
  background-color: #ff387a;
  color: #ffffff;
  box-shadow: none;
  display: grid;
  margin: 1px;
  padding: 25px;
}

/* Origin button (samples) */
.og-btn {
  position: relative;
  width: 70px;
  height: 70px;
  font-size: 10px;
  background-color: #ff0b9a;
  color: #ffffff;
  box-shadow: none;
  margin: 1px;
  padding: 20px;
  border-radius: 10%;
}

.og-btn:hover {
  background-color: #753e5e;
}

/* Sequence control buttons */
/* Clear button properties */
.btn-neg {
  background-color: #888888;
  width: 150px;
  height: 50px;
  /* box-shadow: 0 4px #585454; */
}
  .btn-neg:hover {
    background-color: #565656;
  }
  .btn-neg:active {
    background-color: #737373;
    /* box-shadow: 0 0 #454545; */
  }

/* Active play (Stop) button properties */
.btn-med {
  background-color: #ff8d0b;
  width: 150px;
  height: 50px;
}
  .btn-med:hover {
    background-color: #d7811f;
  }
  .btn-med:active {
    background-color: #d7811f;
  }

  /* Inactive play button properties */
.btn-pos {
  background-color: #b0ff55;
  width: 150px;
  height: 50px;
}
  .btn-pos:hover {
    background-color: #88d530;
  }
  .btn-pos:active {
    background-color: #88d530;
  }

  /* Line when notes are played */
#play_line {
  position: absolute;
  height: 2px; 
  min-height: 2px; 
  max-height: 6%;
  top: 50%;
  background-color: #ffffffbc;
  width: 100%;
  z-index: 1;
}

/* Table of beats */
table {
  position: absolute;
  transform: rotate(270deg);
}

/* First grid; The one on display when the loop is paused */
#grid {
  position: absolute;
  left: 0%;
  transform: rotate(270deg);
  top: 50%;
  margin-top: -634px;
  
}

/* Second grid; Follows the first grid in a loop */
#grid2 {
  position: absolute;
  left: 0%;
  transform: rotate(270deg);
  top: 50%;
  margin-top: 310px;
}

th {
  height: 20px;
  min-height: 20px;
}

/* Table row colors */
tr:nth-of-type(1) td.on {
  background-color: #db014d;
}
tr:nth-of-type(2) td.on {
  background-color: #fbf12e;
}
tr:nth-of-type(3) td.on {
  background-color: #17ffe8;
}
tr:nth-of-type(4) td.on {
  background-color: #01d42b;
}

/* Cells dimensions */
td {
  width: 55px;
  height: 55px;
  min-width: 55px;
  min-height: 55px;
}

td.on {
  background-color: blue;
}

/* Cells colour */
.cell {
  background-color: #2a2a2a9f;
}
.cell:hover {
  background-color: #5555559a;
}
.cell2 {
  background-color: #2a2a2a9f;
}
.cell2:hover {
  background-color: #5555559a;
}

/* Cells that are currently played turn white */
.playing {
  background-color: white;
}

/* Popup windows properties */
.popup {
  position: absolute;
  width: 300px;
  height: 200px;
  padding: 20px 30px;
  z-index: 2;
  background-color: white;
  border-radius: 10%;
}

/* Start popup window properties */
.popup_start {
  position: absolute;
  width: 300px;
  height: 220px;
  padding: auto;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 10%;
  backdrop-filter: blur(10px);
  text-align:center;
  top: 40%;
  left: 40%;
  color: white;
}

/* Generate music button in the start popup window */
#gen_start {
  position: relative;
  margin-top: 15px;
  width: 220px;
  height: 60px;
  background-color:#ff0707c4;
  font-size: 20px;
}
#gen_start:hover {
  background-color: #ff0707;
}

/* Start from scratch button in the start popup window */
#scratch_start {
  position: relative;
  top: 15px;
  background-color:#ffffff7d;
  box-shadow: none;
}
#scratch_start:hover {
  color: white;
}

/* Slow (tempo) button in the start popup window */
#slow_btn {
  background-color: #ffae00b2;
}
#slow_btn:hover {
  background-color: #ffae00;
}
#slow_btn:focus {
  background-color: #ffae00;
}

/* Fast (tempo) button in the start popup window */
#fast_btn {
  background-color: #bfff00b3;
}
#fast_btn:hover {
  background-color: #bfff00;
}
#fast_btn:focus {
  background-color: #bfff00;
}

/* popup button property */
.popup_button {
  margin: auto;
}

/* Hidden popup property - Used with JS event manager */
.popup_hidden {
  display: none;
}

/* Position loop button */
#loop-btn {
  position: relative;
  left: 125px;
}

/* Position of the clear button */
#clear_sequencer {
  position: relative;
  left: 20px;
  top: 120px;
}

/* Side (main) menu properties */
#side-menu {
  position: absolute;
  height: 100%;
  right: 0px;
  width: 400px;
  background-color: #3eff2c;
  z-index: 2;
}

#menu_btn {
  position: absolute;
  left: 75%;
  top: 45%;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #3eff2c;
}