/* Setup for the whole page; font and box sizing */
* { 
  /* box-sizing: border-box; */
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Don't show the heading 1 */
h1 {
  display: none;
}

/* Avoid any scrolling on all devices */
html, body, main  {
  overflow: hidden;
}

button {
  color:#000000;
}

/* Parameters for the body of the page */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  block-size: fit-content;
  height: 100vh;
  margin: auto;
  align-items:center;
  color: #151515;
  background-color: #000000;
}

/* Input space for the BPM */
#tempo_input {
  position: relative;
  left: 40%;
  top: 24vh;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid;
  border-color: transparent;
  padding: 8px 16px;
  text-align: center;
}

/* Main */
main {
  flex-direction: row;
  margin-bottom: 30px;
}

/* Control panel for each different track */
nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 70px 100px;
  width: 200px;
  padding-top: 20px;
  margin-left: 35px;
  top: 40vh;
}

/* Sample selection */
select {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  font-size: 10px;
  color: black;
  width: 100px;
}

/* Buttons */ 
button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}
  button:hover { /* Button on hover */ 
    background-color: #a84f4f;
  }
  button:active { /* Button when active */ 
    background-color: rgb(66, 66, 66);
    box-shadow: 0 0 rgb(0, 0, 0);
  }

/* Generate music button */ 
#gen_music_btn {
  position: absolute;
  background-color: #ff17f0;
  width: 60%;
  height: 50px;
  color: #000000;
  left: 20%;
  top: 6%;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 0%;
}

#gen_music_btn:hover {
  color: white;
}

/* Close buttons */
.close {
  position: relative;
  left: 36%;
  top: 10px;
}

/* Close button for the "How whas this music generated" popup */
#close-how-btn {
  left: 40%;
  margin-bottom: 20px;
}

/* "How whas this music generated" button to open the popup */
#how_gen_btn {
  position: absolute;
  left: 20%;
  top: 15%;
  width: 60%;
  height : 50px;
  font-size: 15px;
  color: black;
  background-color: #c901d4;
  border-radius: 0%;
}
  #how_gen_btn:hover {
    color: white;
  }

/* "How whas this music generated" popup */
#how-popup {
  position: absolute;
  left: 25%;
  width: 400px;
  height: 250px;
  font-size: 1.7dvh;
  overflow: scroll;
  background-color: #202020;
  color: white;
}

/* Hidden buttons: Used to hide / unhide buttons based on JS events */ 
.hidden-button {
  display: none;
}

/* Generate buttons */
.gen-btn {
  width: 150px;
  font-size: 12px;
  background-color: #ff387a;
  color: #000000;
  height: 70px;
  font-size: 11px;
  box-shadow: none;
  display: grid;
  margin: 1px;
  padding-top: 30px;
}

/* Origin button (samples) */
.og-btn {
  position: relative;
  width: 70px;
  height: 70px;
  font-size: 10px;
  background-color: #ff0b9a;
  color: #ffffff;
  box-shadow: none;
  margin: 1px;
  padding: 20px;
  border-radius: 10%;
}
  .og-btn:hover {
    background-color: #753e5e;
  }

/* Sequence control buttons */
.btn-neg {
  background-color: #888888;
  width: 150px;
  height: 50px;
}
  .btn-neg:hover {
    background-color: #565656;
  }
  .btn-neg:active {
    background-color: #737373;
  }

/* Active play (Stop) button properties */
.btn-med {
  background-color: #ff8d0b;
  width: 150px;
  height: 50px;
}
  .btn-med:hover {
    background-color: #d7811f;
  }
  .btn-med:active {
    background-color: #d7811f;
  }

  /* Inactive play button properties */
.btn-pos {
  background-color: #b0ff55;
  width: 150px;
  height: 50px;
}
  .btn-pos:hover {
    background-color: #88d530;
  }
  .btn-pos:active {
    background-color: #88d530;
  }

  /* Line when notes are played */
#play_line {
  position: absolute;
  height: 2px; 
  min-height: 2px; 
  max-height: 6%;
  top: 50%;
  background-color: #ffffffbc;
  width: 100%;
  z-index: 1;
}

/* Table of beats */
table {
  position: absolute;
  transform: rotate(270deg);
}

/* First grid; The one on display when the loop is paused */
#grid {
  position: absolute;
  left: -10%;
  top: 50%;
  margin-top: -603px; 
  animation: none;
}

/* Second grid; Below the first grid in a loop */
#grid2 {
  position: absolute;
  left: -10%;
  transform: rotate(270deg);
  top: 50%;
  margin-top: 341px;
  animation: none;
}

/* Second grid; Follows the first grid in a loop */
#grid3 {
  position: absolute;
  left: -10%;
  transform: rotate(270deg);
  top: 50%;
  margin-top: -1547px;
  animation: none;
}

th {
  height: 20px;
  min-height: 20px;
}

/* Cells dimensions */
td {
  width: 55px;
  height: 55px;
}

/* Table row colors */
tr:nth-of-type(1) td.on {
  background-color: #db014d;
}
tr:nth-of-type(2) td.on {
  background-color: #fbf12e;
}
tr:nth-of-type(3) td.on {
  background-color: #17ffe8;
}
tr:nth-of-type(4) td.on {
  background-color: #01d42b;
}

td.on {
  background-color: blue;
}

/* Cells colour */
.cell {
  background-color: #2a2a2a9f;
}
.cell:hover {
  background-color: #5555559a;
}
.cell2 {
  background-color: #2a2a2a9f;
}
.cell2:hover {
  background-color: #5555559a;
}
.cell3 {
  background-color: #2a2a2a9f;
}
.cell3:hover {
  background-color: #5555559a;
}

/* Cells that are currently played turn white */
.playing {
  background-color: white;
}

/* Popup windows properties */
.popup {
  position: absolute;
  width: 300px;
  height: 180px;
  padding: 20px 30px;
  z-index: 2;
  background-color: white;
  border-radius: 10%;
}

/* Start popup window properties */
.popup_start {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 200vh;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.664);
  backdrop-filter: blur(7px);
  text-align: center;
  color: white;
}

/* Generate music button in the start popup window */
#gen_start {
  position: absolute;
  top: 40%;
  left: 42%;
  width: 400px;
  height: 80px;
  background-color:#ff0707c4;
  color: #000000;
  font-size: 15px;
}
#gen_start:hover {
  background-color: #ff0707;
}

/* Start from scratch button in the start popup window */
#scratch_start {
  position: fixed;
  top: 50%;
  left: 49%;
  font-size: 15px;
  background-color: transparent;
  color: white;
}
#scratch_start:hover {
  color: white;
}

#slow_btn, #fast_btn {
  position: fixed;
  top: 30%;
  width: 180px;
  height: 50px;
  color: #000000;
}

/* Slow (tempo) button in the start popup window */
#slow_btn {
  left: 42%;
  background-color: #ffae00b2;
}
#slow_btn:hover {
  background-color: #ffae00;
}
#slow_btn:focus {
  background-color: #ffae00;
}

/* Fast (tempo) button in the start popup window */
#fast_btn {
  left: 54%;
  background-color: #bfff00b3;
}
#fast_btn:hover {
  background-color: #bfff00;
}
#fast_btn:focus {
  background-color: #bfff00;
}

/* popup button property */
.popup_button {
  margin: auto;
}

/* Hidden popup property - Used with JS event manager */
.popup_hidden {
  display: none;
}

/* Position loop button */
#loop-btn {
  position: absolute;
  left: 125px;
  top: 30%;
  color: #000000;
}

/* Position of the clear button */
#clear_sequencer {
  position: absolute;
  left: 125px;
  top: 36%;
  color: #000000;
}

/* Side (main) menu properties */
#side-menu {
  position: absolute;
  height: 100vh;
  right: 0px;
  width: 400px;
  background-color: #3eff2c;
  z-index: 2;
}

#menu_btn {
  position: absolute;
  left: 53%;
  margin-right: 50px;
  top: 40%;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #3eff2c;
}

#close_menu {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 10vh;
  left: 18vw;
  background-color: #000000;
  color:white;
  border-radius: 100%;
  font-size: 20px;
}
#close_menu:hover {
  background-color: white;
  color: black;
}

#play_mobile {
  position: fixed;
  z-index: 1;
  bottom: 3vh;
  left: 36vw;
  background-color:#902463;
  display: none;
}

/* ------------------ MEDIA QUERY ------------------ */
@media screen and (min-width: 2400px) {
  #grid, #grid2, #grid3 {
    left: 11%;
  }
  #menu_btn {
    left: 70%;
  }
}

@media screen and (max-width: 2400px) {
  #grid, #grid2, #grid3 {
    left: 11%;
  }
  #menu_btn {
    left: 70%;
  }
}

/* RESPONSIVENESS TO FIX */
@media screen and (max-width: 1070px) {
  #grid, #grid2, #grid3 {
    left: -20%;
  }
}

@media screen and (max-width: 950px) {
  #grid, #grid2, #grid3 {
    left: -30%;
  }
  table {
    height: 20px;
    width: 1000px;
  }
  #grid {
    margin-top: -631px;
  }
  #grid2 {
    margin-top: 367px;
  }
  #grid3 {
    margin-top: -1629px;
  }
  #slow_btn, #fast_btn {
    width: 150px;
    height: 40px;
  }
  #slow_btn {
    left: 42%;
  }
  #fast_btn {
    left: 56%;
  }
  #menu_btn {
    width: 20px;
    height: 30px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 650px) {
  #grid, #grid2, #grid3 {
    left: -40%;
  }
  #menu_btn {
    left: 80%;
  }
  #how-popup {
    left: 10%;
  }
  #gen_start {
    width: 250px;
    height: 70px;
    left: 43%;
  }
  #slow_btn, #fast_btn {
    width: 100px;
    height: 40px;
  }
  #slow_btn {
    left: 43%;
  }
  #fast_btn {
    left: 52%;
  }
}

@media screen and (max-width: 450px) {
  #grid, #grid2, #grid3 {
    left: -90%;
  }
  #how-popup {
    left: 7%;
    width: 250px;
    height: 200px;
    font-size: 10px;
  }
  #side-menu {
    width: 100%;
  }
  #gen_music_btn {
    top: 3%;
  }
  #gen_music_btn, #how_gen_btn, #clear_sequencer, #loop-btn, .gen-btn, .og-btn {
    height: 50px;
  }
  #gen_music_btn, #how_gen_btn, #clear_sequencer, #loop-btn {
    width: 200px;
  }
  .gen-btn {
    padding-top: 20px;
  }
  .og-btn {
    padding-top: 9px;
  }
  #gen_music_btn, #how_gen_btn, #loop-btn, #clear_sequencer {
    left: 22%;
  }
  #loop-btn {
    top: 32%;
  }
  #clear_sequencer {
    top: 40%;
  }
  nav {
    top: 50%;
  }
  #close_menu {
    top: 85%;
  }
  #play_mobile {
    display: initial;
  }
}

/* ------------------ ANIMATIONS ------------------ */

@keyframes looping {
  0% {
    transform: translateY(0) scale(1) rotate(270deg);
  }
  100% {
    transform: translateY(944px) scale(1) rotate(270deg);
  }
}

@keyframes loopingSmall {
  0% {
    transform: translateY(0) scale(1) rotate(270deg);
  }
  100% {
    transform: translateY(1002px) scale(1) rotate(270deg);
  }
}