* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: fit-content;
  block-size: fit-content;
  height: 100vh;
  margin: auto;
  align-items:center;

  color: #2f2f2f;
  background-color: #e9e9e9;
}

.bpm {
  display: flex;
  position: relative;
}

main {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 70px 160px;
  width: fit-content;
  padding-top: 20px;
}

select {
  width: fit-content;
  position: relative;
  left: -50px;
}

/* Buttons */ 
button {
  padding: 8px 16px;
  border: none;
  background-color: #919191;
  border-radius: 4px;
}
  button:hover { /* Button on hover */ 
    background-color: #a84f4f;
  }
  button:active { /* Button when active */ 
    background-color: rgb(66, 66, 66);
    box-shadow: 0 0 rgb(0, 0, 0);
  }

/* Generate music button */ 
#gen_music_btn {
  background-color: #eb3434;
  width: 300px;
  margin-top: 20px;
  padding: 20px 50px;
}

.close {
  position: relative;
  left: 36%;
  top: 10px;
}

#close-how-btn {
  left: 45%;
}

#how-gen-btn {
  position: relative;
  left: 13rem;
  top: -55px;
  width: 100px;
  height: 55px;
  font-size: 10px;
  background-color: #eb343476;
}

#how-popup {
  position: absolute;
  width: 600px;
  height: 400px;
}
/* Hidden buttons */ 
.hidden-button {
  display: none;
}

/*Generate buttons*/
.gen-btn {
  width: 150px;
  font-size: 12px;
  background-color: #c36f6f;
  color: #ffffff;
  box-shadow: none;
  display: grid;
  margin: 1px;
  padding: 25px;
}

.og-btn {
  position: relative;
  width: 70px;
  height: 70px;
  font-size: 10px;
  background-color: #ac5e8b;
  color: #ffffff;
  box-shadow: none;
  margin: 1px;
  padding: 20px;
  border-radius: 50%;
}

.og-btn:hover {
  background-color: #753e5e;
}

.sampleselect {
  position: relative;
  left: 2px;
  width: 100px;
  margin: 5px;;
  margin-right: 1px;
}


/* Sequence control buttons */
.btn-neg {
  background-color: #888888;
  width: 150px;
  height: 50px;
  /* box-shadow: 0 4px #585454; */
}
  .btn-neg:hover {
    background-color: #565656;
  }
  .btn-neg:active {
    background-color: #737373;
    /* box-shadow: 0 0 #454545; */
  }

.btn-med {
  background-color: #f69323;
  width: 150px;
  height: 50px;
  /* box-shadow: 0 4px #d07813; */
}
  .btn-med:hover {
    /* background-color: #d7811f; */
  }
  .btn-med:active {
    background-color: #d07813;
    /* box-shadow: 0 0 #d07813; */
  }

.btn-pos {
  background-color: #7bbb7b;
  width: 150px;
  height: 50px;
  /* box-shadow: 0 4px #468846; */
}
  .btn-pos:hover {
    background-color: #569656;
  }
  .btn-pos:active {
    background-color: #468846;
    /* box-shadow: 0 0 #468846; */
  }


input {
  padding: 8px 16px;
  box-shadow: inset 0px 0px 4px #000000;
  border: none;
  width: fit-content;
}

/* Table of beats */
table {
  position: relative;
  left: -3rem;
}

th {
  height: 20px;
}

/* Table row colors */
tr:nth-of-type(1) td.on {
  background-color: #011DDB;
}
tr:nth-of-type(2) td.on {
  background-color: #0186C8;
}
tr:nth-of-type(3) td.on {
  background-color: #01D1BB;
}
tr:nth-of-type(4) td.on {
  background-color: #01D487;
}



td {
  width: 60px;
  height: 60px;
}

td.on {
  background-color: blue;
}

.cell {
  background-color: #7373739f;
}

.cell:hover {
  background-color: #3636369a;
}

.playing {
  background-color: white;
}

.popup {
  position: absolute;
  width: 300px;
  height: 200px;
  padding: 20px 30px;
  z-index: 2;
  background-color: white;
  border-radius: 10%;
}

.popup_start {
  position: absolute;
  width: 300px;
  height: 220px;
  padding: auto;
  z-index: 2;
  background-color: white;
  border-radius: 10%;
  backdrop-filter: blur(10px);
  text-align:center;
  top: 370px;
  
}

#gen_start {
  position: relative;
  margin-top: 15px;
  width: 220px;
  height: 60px;
  background-color:#c56f6f;
  font-size: 20px;
}

#gen_start:hover {
  background-color: #eb3434;
}

#scratch_start {
  position: relative;
  top: 15px;
  background-color:#2f2f2f7d;
  box-shadow: none;
}

#scratch_start:hover {
  color: white;
}

#slow_btn {
  background-color: #d8a5377e;
}

#slow_btn:hover {
  background-color: #d8a537;
}

#slow_btn:focus {
  background-color: #d8a537;
}

#fast_btn {
  background-color: #93b1396b;
}

#fast_btn:hover {
  background-color: #93b139;
}

#fast_btn:focus {
  background-color: #93b139;
}



.popup_button {
  margin: auto;

}

.popup_hidden {
  display: none;
}

#tempo-input {
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px;
  border: 1px solid;
  border-color: transparent;
}

#tone-btn {
  width: 150px;
  height: 50px;
  background-color: #00000000;
  border: #cacaca 3px solid;
}

#tone-btn:hover {
  background-color: #cacaca;
}
