/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-indigo: #2c3e50;
  --color-primary: var(--color-indigo);

  --color-divider-light-1: rgba(60, 60, 60, 0.29);
  --color-divider-light-2: rgba(60, 60, 60, 0.12);
  --color-divider-dark-1: rgba(84, 84, 84, 0.65);
  --color-divider-dark-2: rgba(84, 84, 84, 0.48);

  --color-text-light-1: var(--color-indigo);
  --color-text-light-2: rgba(60, 60, 60, 0.66);
  --color-text-dark-1: var(--color-white);
  --color-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-blue: #3569b7;
  --color-purple: ##bb4f9b;
  --color-yellow: #f8ce57;
  --color-green: #8a9156;
  --color-orange: #ed7648;

  --color-blue-soft: #5d87c5;
  --color-purple-soft: #c972af;
  --color-yellow-soft: #fbe29a;
  --color-green-soft: #a1a778;
  --color-orange-soft: #f1916d;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-black);
  --color-background-soft: var(--color-white-soft);
  --color-background-mute: var(--color-white-mute);

  --color-border: var(--color-divider-light-2);
  --color-border-hover: var(--color-divider-light-1);

  --color-heading: var(--color-text-light-1);
  --color-text: var(--color-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-background-soft: var(--color-black-soft);
    --color-background-mute: var(--color-black-mute);

    --color-border: var(--color-divider-dark-2);
    --color-border-hover: var(--color-divider-dark-1);

    --color-heading: var(--color-text-dark-1);
    --color-text: var(--color-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
