@import './base.css';

#app {
  min-height: 100%;
  width: 100%;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 1rem; */

  /* font-weight: normal; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 27%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }
}

button {
  color: var(--color-text);
  appearance: none;
  background-color: 1px solid var(--color-background);
  border: 1px solid var(--color-background-mute);
  padding: 0.2em;
}
